<div class="flex justify-center">
    <div class="login-container">
        <div class="text-container my-5">
            <h1 class="my-5">Log in to your account</h1>
            <form>
                <div class="mb-3">
                    <input type="email" [(ngModel)]="email" id="email" name="email"
                        placeholder="Enter your account email" required class="input p-2 mb-2">
                </div>
                <div>
                    <input type="password" [(ngModel)]="password" id="password" name="password"
                        placeholder="Enter your password" required class="input p-2 mb-2">
                </div>
                <div class="column-center mt-5">
                    <div class="gap-3 mb-2 flex-center">
                        <app-button [login]="true" (buttonClick)="login()" [text]="'Log in'" />
                        <app-button [login]="true" (buttonClick)="navToSignup()" [text]="'Go to sign up'" />
                    </div>
                    <app-button [login]="true" (buttonClick)="backBtn()" [text]="'Go back'" />
                </div>
            </form>
        </div>
    </div>
</div>