<div class="container mt-3">
    <div class="row">
        <div class="buttons gap-2 me-2">
            <app-button [text]="'Level Up'" />
            <div class="level">
                Level {{charLevel()}}
            </div>
            <app-button [text]="'Options'" />
        </div>
    </div>
    <div class="row">
        <div class="ms-auto column-center">
            <h2><b>{{charName()}}</b></h2>
            <div class="info gap-2">
                <div>
                    @if(charSubRace()){ {{charSubRace()}} }
                    @else{ {{charRace()}} }

                </div>
                <div>
                    {{charSubClass()}}
                    {{charClass()}}
                </div>

            </div>
        </div>
    </div>

</div>
