.header{
    background-color: #373327;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: pacifico;
    color: white;
    font-size: xx-large;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    outline: solid 2px white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .profile-head{
        height: 10px;
        width: 10px;
        background-color: white;
        border-radius: 50px;
    }
    .profile-body{
        height: 10px;
        width: 20px;
        background-color: white;
        border-radius: 50px;
        margin-top: 3px;
        margin-bottom: 2px;
    }
}