.card-bg {
    height: 8rem;
    width: 100%;

    .name-level,
    .race-class {
        color: white;
    }
}

.card {
    background-color: none;
    background-color: rgba(55, 51, 39, 0.5);
    border-radius: 20px;
    border: none;
}

.foto-holder {
    background-color: white;
    width: 7rem;
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 15px;
    object-fit: cover;
}

p {
    margin-top: -1rem;
}

h2 {
    font-size: 1.5rem !important;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    .foto-holder {
        background-color: #373327;
    }

    .name-level {
        color: #373327;
    }
}



@media (max-width:475px) {
    .hide-xs {
        display: none;
    }
}
@media (min-width:475px) {
    .hide-md {
        display: none;
    }
}

@media (max-width:768px) {
    .card {
        width: clamp(20rem, 95vw, 45rem);
    }

    .card-bg {
        height: 6rem;

        .foto-holder {
            width: 5rem;
            height: 5rem;
        }
    }


}

@media (min-width:375px) and (max-width: 768px) {
    .card-bg {
        height: 8rem;

        .foto-holder {
            width: 7rem;
            height: 7rem;
        }
    }

    .buttons {
        margin-top: 0.4rem;
        gap: 1rem
    }
}

@media (min-width:769px) and (max-width: 992px) {
    .card-bg {
        height: 8rem;

        .foto-holder {
            width: 7rem;
            height: 7rem;
        }
    }

    .buttons {
        margin-top: 0.4rem;
        gap: 1rem
    }
    
    .hide-md {
        display: none;
    }
}