.square,
.square-stat,
.square-death {
    border-radius: 15px;
    border: 3px solid #373327;
    background-color: rgba(255, 255, 255, 0.3);
    aspect-ratio: 1;
}

.square {
    padding: 0.3125rem;
    height: 4.6875rem;
}

.square-death {
    height: 5rem;
    width: 12rem;
}

.square-stat {
    height: 8.75rem;
}

.title,
.title-death,
.num {
    font-family: zain;
    font-weight: bold;
}

.title-death,
.title {
    font-size: 1.125rem;
}

.title-death {
    margin-top: 1.35rem;
}

.num {
    font-size: 2rem;
    margin-top: -0.625rem;
}

.num.large-box {
    font-size: xx-large;
}

.square.large-box {
    height: 6.25rem;
    font-size: 1.5rem;
}

.num-small {
    width: 1.875rem;
    height: 1.875rem;
    outline: 3px solid #373327;
    border-radius: 20%;
}

.title-stat,
.num-small,
.num-big {
    text-align: center;
    font-weight: bold;
    font-family: zain;
}

.title-stat,
.num-small {
    font-size: x-large;
}

.num-big {
    font-size: 2.0625rem;
    font-weight: bold;
    margin-block: -0.3125rem;
}

.bottom-row {}


.checkbox-square,
.checkbox-square:checked {
    outline: 3px solid #373327;
}

.checkbox-square {
    border-radius: 20%;
    width: 1.25rem;
    height: 1.25rem;
    appearance: none;
    display: inline-block;
    flex-shrink: 0;
}

.checkbox-square:checked {
    background-color: #373327;
    border: 3px solid white;
}

.fail-success {
    margin-top: -1rem;
}

.hp-box .title {
    font-size: 1.125rem;
    font-weight: bold;
}

.hp-box .num {
    font-size: 2rem;
}

@media (max-width: 375px) {
    .square {
        height: 5.25rem;
        font-size: 1.125rem;
    }

    .square.large-box {
        font-size: 1.25rem;
        width: 11rem;
        height: 11rem;
    }

    .square-death {
        height: 11rem;
        width: 11rem;
    }

    .square-stat {
        height: 8rem;
    }

    .title-stat {
        font-size: 1rem;
    }

    .num-big {
        font-size: 1.5rem;
    }

    .num-small {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.875rem;
        font-weight: bold;
        padding-top: 0.125rem;
    }

    .checkbox-square {
        width: 0.875rem;
        height: 0.875rem;
    }

    .bottom-row {
        flex-direction: row;
        margin-top: 0.25rem;
    }
}

@media (min-width: 376px) and (max-width: 575.98px) {
    .square {
        width:  5.75rem;
        height: 5.75rem;
        font-size: 1.125rem;
    }

    .square.large-box {
        font-size: 1.25rem;
        width:  12rem;
        height: 12rem;
    }

    .square-death {
        width:  12rem;
        height: 12rem;
    }

    .square-stat {
        height: 8rem;
    }

    .title-stat {
        font-size: 1rem;
    }

    .num-big {
        font-size: 1.5rem;
    }

    .num-small {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.875rem;
        font-weight: bold;
        padding-top: 0.125rem;
    }

    .checkbox-square {
        width: 0.875rem;
        height: 0.875rem;
    }

    .bottom-row {
        flex-direction: row;
        margin-top: 0.25rem;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .square.large-box {
        width: clamp(12rem, 30vw, 15rem);
        height: clamp(6rem, 30vw, 7rem);
        font-size: clamp(1.25rem, 30vw, 2rem);
    }

    .square {
        min-height: clamp(6rem, 30vw, 7rem);
        min-width: clamp(6rem, 30vw, 7rem);
        font-size: 1.125rem;
    }

    .square-death {
        width: clamp(12rem, 30vw, 15rem);
        height: clamp(6rem, 30vw, 7rem);
    }

    .square-stat {
        max-height: 8.4375rem;
    }

    .num-big {
        font-size: 1.875rem;
    }

    .num-small {
        width: 1.5625rem;
        height: 1.5625rem;
        font-size: large;
        font-weight: bold;
        padding-top: 0, 125rem;
    }

    .checkbox-square {
        width: 1.125rem;
        height: 1.125rem;
    }

    .bottom-row {
        flex-direction: row;
        margin-top: 0.25rem;
    }
}

@media (min-width: 768.2px) and (max-width: 992px) {
    .square.large-box {
        width: 15rem;
        height: 10rem;
        font-size: 2rem;
    }

    .square {
        min-height: 10rem;
        min-width: 10rem;
        font-size: 1.125rem;
    }

    .square-death {
        width: 15rem;
        height: 10rem;
    }
}