@if (deathSaves() === true) {
<div class="square-death column-center" [class.large-box]="large()">
    <app-tooltip
        [tooltipText]="'Whenever you start your turn with 0 hit points, you must make a special saving throw, called a death saving throw, to determine whether you creep closer to death or hang onto life.'">
        <div class="title-death"> {{ title() }} </div>
    </app-tooltip>
    <div class="bottom-row d-flex flex-column align-items-center">
        <div class="d-flex text-center">
            <div class="death-checks column-gap-5 row-gap-4">
                <div class="d-flex gap-2">
                    💀
                    @for (save of deathSavesArr.slice(0, 3); track save) {
                    <app-death-checkbox [type]="save.type" [checked]="save.checked"
                        (checkedChange)="save.checked = $event" />
                    }
                </div>
                <div class="d-flex gap-2">
                    💗
                    @for (save of deathSavesArr.slice(3, 6); track save) {
                    <app-death-checkbox [type]="save.type" [checked]="save.checked"
                        (checkedChange)="save.checked = $event" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}

@else if(statBox() === true) {
<div class="square-stat column-center" [class.large-box]="large()">
    <div class="column-center stat-gap">
        <app-tooltip [tooltipText]="descStat[0]">
            <div class="title-stat"> {{title()}} </div>
        </app-tooltip>

        <app-tooltip
            [tooltipText]="'Your modifier is calculated by taking your ability score, subtracting 10, and dividing by 2. Rounded down'">
            <div class="num-big"> {{modifier()}} </div>
        </app-tooltip>

        <div class="bottom-row flex-center">
            <app-tooltip
                [tooltipText]="'This is your ability score, it determines your ability modifier. It can go up to 20'">
                <div class="num-small flex-center"> {{score()}} </div>
            </app-tooltip>
            @if(proficient()){
            <app-tooltip
                [tooltipText]="'This is the saving throw for this ability in which you are proficient. It is calculated by adding your ability modifier and proficiency bonus'">
                <div class="num-save flex-center"> {{calculateProficiency(modifier()!, proficiencyBonus()!)}} </div>
            </app-tooltip>
            }
            @else{
            <app-tooltip
                [tooltipText]="'This is the saving throw for this ability. It is the same as your ability modifier'">
                <div class="num-small flex-center"> {{modifier()}}</div>
            </app-tooltip>
            }
        </div>
    </div>
</div>
}

@else {
<div class="square column-center" [class.large-box]="large()" [class.hp-box]="isHp" (click)="openModal()">
    <app-tooltip [tooltipText]="desc"><div class="title"> {{ title() }} </div></app-tooltip>
    @if(isHp){
    <div class="column-center">
        <p class="num">{{currentHp}}</p>
        <p class="max-hp">Max Hp: <b class="ms-1">{{num()}}</b> </p>
    </div>
    }
    @else{ <div class="num"> {{ num() }} </div> }
</div>
}