@if (deathSaves() === true) {
<div class="square-death column-center" [class.large-box]="large()">
    <div class="title-death"> {{ title() }} </div>
    <div class="bottom-row d-flex flex-column align-items-center gap-4">
        <div class="d-flex flex-column text-center">
            <div class="d-flex gap-2">
                @for (save of deathSavesArr.slice(0, 3); track save) {
                <app-death-checkbox [type]="save.type" [checked]="save.checked"
                    (checkedChange)="save.checked = $event" />
                }
            </div>
            <p>Failures</p>
       
            <div class="d-flex gap-2">
                @for (save of deathSavesArr.slice(3, 6); track save) {
                <app-death-checkbox [type]="save.type" [checked]="save.checked"
                    (checkedChange)="save.checked = $event" />
                }
            </div>
            <p>Successes</p>
        </div>
    </div>
</div>
}

@else if(statBox() === true) {
<div class="square-stat column-center" [class.large-box]="large()">
    <div class="title-stat"> {{title()}} </div>
    <div class="num-big"> {{modifier()}} </div>

    <div class="bottom-row flex-space-between">
        <div class="num-small flex-center"> {{score()}} </div>
        <div class="mx-3 checkbox-square"></div>
        <div class="num-small flex-center"> {{modifier()}} </div>
    </div>
</div>
}

@else {
<div class="square column-center" [class.large-box]="large()" [class.hp-box]="isHp">
    <div class="title"> {{ title() }} </div>
    <div class="num"> {{ num() }} </div>
</div>
}