<div class="d-flex mt-3 align-items-start">
    <img class="foto-holder ms-1 me-2" src="assets/swordsman-color.png" alt="Races">

    <div class="d-flex gap-2">
        <div class="d-flex flex-column gap-2">
            <app-box [title]="'Initiative'" [stat]="5" />
            <app-box [title]="'Speed'" [stat]="30" />
        </div>

        <div class="d-flex flex-column justify-content-center ms-1">
            <app-box [title]="'HP'" [stat]="24" [large]="true"/>
        </div>

        <div class="d-flex flex-column gap-2 ms-1">
            <app-box [title]="'AC'" [stat]="armorClass()" />
            <app-box [title]="'PB'" [stat]="2" />
        </div>
    </div>
</div>