.foto-holder {
    border: 3px solid #373327;
    background-color: white;
    border-radius: 15px;
    width: auto;
    height: auto;
    //max-height: 100%;
    max-width: 10rem;
    object-fit: contain;
    align-self: flex-start;
    aspect-ratio: 1;
}

.boxes{
    display: flex;
    flex-direction: column;
}

@media (max-width: 576px) {
    .foto-holder {
        max-width: 8rem;
        height: 10rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .foto-holder {
        max-width: 8rem;
        height: 10rem;
    }
}

@media (min-width: 769px) and (max-width:992px) {
    .foto-holder {
        max-width: 15rem;
        max-height: 15rem;
    }

    .boxes{
        display: flex;
        flex-direction: column;
    }
}