<div class="d-flex mt-3 align-items-start">
    <img class="foto-holder me-2" src="assets/swordsman-color.png" alt="foto">

    <div class="d-flex gap-2">
        <div class="d-flex flex-column gap-2">
            <app-box [title]="'Initiative'" [num]="initiative()" />
            <app-box [title]="'Speed'" [num]="speed()" />
        </div>

        <div class="d-flex flex-column justify-content-center">
            <app-box [title]="'HP'" [num]="`${currentHp()} / ${hp()}`" [large]="true"/>
        </div>

        <div class="d-flex flex-column gap-2">
            <app-box [title]="'AC'" [num]="armorClass()" />
            <app-box [title]="'PB'" [num]="proficiencyBonus()" />
        </div>
    </div>
</div>