.foto-holder {
    border: 3px solid #373327;
    background-color: white;
    border-radius: 15px;
    max-width: 100%;
    width: 10rem;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
}

.boxes {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

@media (max-width: 375px) {
    .foto-holder {
        width: 11rem;
        height: 11rem;
    }
}

@media (min-width: 376px) and (max-width: 575.98px) {
    .foto-holder {
        width: clamp(12rem, 30vw, 12rem);
        height: clamp(12rem, 30vw, 12rem);
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .foto-holder {
        width: clamp(12rem, 30vw, 14.5rem);
        height: clamp(14.5rem, 30vw, 14.5rem);
    }

    .top-section .container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .boxes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }
}

@media (min-width: 768.2px) and (max-width: 992px) {
    .foto-holder {
        width:  20.5rem;
        height: 20.5rem;
    }
}