<div class="modal">
    <div class="modal-bg flex-center" (click)="closed.emit()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <app-button (buttonClick)="closed.emit()" [text]="'Close'"/>
            @if(type === 'hp') {
            <app-hp-modal [currentHp]="currentHp" [maxHp]="maxHp" (updated)="hpUpdated.emit($event)"
                (onClose)="closed.emit()" [characterId]="characterId" />
            }@else if (type==='img') {<app-img-modal (onClose)="closed.emit()" [character]="character!" />}
        </div>
    </div>
</div>