<div class="d-flex mt-3 align-items-start">
    <div class="d-block d-sm-none d-md-none top-container">
        <div class="d-flex gap-2 mb-2">
            @if(image){
            <div> <img class="foto-holder" src="{{image}}" alt="foto" (click)="openImgModal()"></div>
            }@else{
            <div> <img class="foto-holder" src="assets/swordsman-color.png" alt="foto" (click)="openImgModal()"></div>
            }
            <app-box [title]="'Hit Points'" [num]="`${hp()}`" [currentHp]="currentHp()" [large]="true" [isHp]="true"
                (open)="open.emit($event)" [characterId]="characterId" />
        </div>
        <div class="d-flex gap-2 column-center">
            <app-box [title]="'Death Saves'" [deathSaves]="true" [long]="true" />

            <div class="d-flex gap-2">
                <app-box
                    [desc]="'Initiative is used to establish the order of turns during a fight. It uses your Dexterity modifier'"
                    [title]="'Initiative'" [num]="initiative()" />
                <app-box
                    [desc]="'Every character and monster has a speed, which is the distance in feet that the character or monster can walk in 1 round'"
                    [title]="'Speed'" [num]="speed()" />
                <app-box
                    [desc]="'Armor Class (AC) is the measure of how hard it is for an attacker to hit you when rolling to attack'"
                    [title]="'AC'" [num]="armorClass()" />
                <app-box
                    [desc]="'The Proficiency Bonus is used in D&D 5e to calculate many Skills, Ability throws and also attack.'"
                    [title]="'PB'" [num]="proficiencyBonus()" />
            </div>
        </div>
    </div>

    <div class="d-none d-sm-block d-md-none">
        <div class="d-flex gap-2">
            <div class=" ms-2 d-flex flex-column gap-2">
                @if(image){
                <div> <img class="foto-holder" src="{{image}}" alt="foto" (click)="openImgModal()"></div>
                }@else{
                <div> <img class="foto-holder" src="assets/swordsman-color.png" alt="foto" (click)="openImgModal()">
                </div>
                }
            </div>

            <div class="d-flex flex-column gap-2">
                <app-box [title]="'Hit Points'" [num]="`${hp()}`" [currentHp]="currentHp()" [large]="true" [isHp]="true"
                    (open)="open.emit($event)" [characterId]="characterId" />
                <app-box [title]="'Death Saves'" [deathSaves]="true" [long]="true" />
            </div>
            <div class="d-block">
                <div class="d-flex gap-2 mb-2">
                    <app-box
                        [desc]="'Armor Class (AC) is the measure of how hard it is for an attacker to hit you when rolling to attack'"
                        [title]="'AC'" [num]="armorClass()" />
                    <app-box
                        [desc]="'Every character and monster has a speed, which is the distance in feet that the character or monster can walk in 1 round'"
                        [title]="'Speed'" [num]="speed()" />
                </div>
                <div class="d-flex gap-2">
                    <app-box
                        [desc]="'Initiative is used to establish the order of turns during a fight. It uses your Dexterity modifier'"
                        [title]="'Initiative'" [num]="initiative()" />
                        <app-box
                        [desc]="'The Proficiency Bonus is used in D&D 5e to calculate many Skills, Ability throws and also attack.'"
                        [title]="'PB'" [num]="proficiencyBonus()" />
                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-sm-none d-md-block">
        <div class="d-flex gap-2">
            <div class=" ms-2 d-flex flex-column gap-2">
                @if(image){
                <div> <img class="foto-holder" src="{{image}}" alt="foto" (click)="openImgModal()"></div>
                }@else{
                <div> <img class="foto-holder" src="assets/swordsman-color.png" alt="foto" (click)="openImgModal()">
                </div>
                }
            </div>

            <div class="d-flex flex-column gap-2">
                <app-box [title]="'Hit Points'" [num]="`${hp()}`" [currentHp]="currentHp()" [large]="true" [isHp]="true"
                    (open)="open.emit($event)" [characterId]="characterId" />
                <app-box [title]="'Death Saves'" [deathSaves]="true" [long]="true" />
            </div>
            <div class="d-block">
                <div class="d-flex gap-2 mb-2">
                    <app-box
                        [desc]="'Armor Class (AC) is the measure of how hard it is for an attacker to hit you when rolling to attack'"
                        [title]="'AC'" [num]="armorClass()" />
                    <app-box
                        [desc]="'Every character and monster has a speed, which is the distance in feet that the character or monster can walk in 1 round'"
                        [title]="'Speed'" [num]="speed()" />
                </div>
                <div class="d-flex gap-2">
                    <app-box
                        [desc]="'Initiative is used to establish the order of turns during a fight. It uses your Dexterity modifier'"
                        [title]="'Initiative'" [num]="initiative()" />
                    <app-box
                        [desc]="'The Proficiency Bonus is used in D&D 5e to calculate many Skills, Ability throws and also attack.'"
                        [title]="'PB'" [num]="proficiencyBonus()" />
                </div>
            </div>
        </div>
    </div>
</div>