<div class="d-flex gap-2">
    <div class="flex-column">
        @for(skill of displaySkills().slice(0,9); track skill.name){
        <div class="skill-container gap-2 d-block mb-1">
            <div class="d-flex gap-2 ms-2 me-3">
                <div class="checkbox-square mt-2"></div>
                <p class="name">{{skill.name}}
                <p class="stat ms-auto hide-xs">{{skill.stat}}
                <p class="modifier">{{skill.modifier}}
            </div>
        </div>
        }
    </div>
    <div class="flex-column">
        @for(skill of displaySkills().slice(9,18); track skill.name){
        <div class="skill-container gap-2 d-block mb-1">
            <div class="d-flex gap-2 ms-2 me-3">
                <div class="checkbox-square mt-2"></div>
                <p class="name">{{skill.name}}
                <p class="stat ms-auto hide-xs">{{skill.stat}}
                <p class="modifier">{{skill.modifier}}
            </div>
        </div>
        }
    </div>
</div>