.input {
    width: 100%;
    border-radius: 50px;
    border: solid 3px #373327;
}

.signup-container {
    padding: 5%;
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
}

.text-container {
    width: 80%;
}