<div class="header-margin"></div>

<app-name-section [charName]="character?.name" [charRace]="race?.name" [charSubRace]="character?.subrace"
    [charClass]="class?.name" [charSubClass]="character?.subclass" [charLevel]="character?.level" />
<div class="column-center gap-3">

    <app-top-section [armorClass]="armorClass" [hp]="hitPoints" [currentHp]="currentHp" (open)="onOpenModal($event)"
        [initiative]="abilityModifiers['Dexterity']" [speed]="race?.speed" [proficiencyBonus]="levelInfo?.prof_bonus"
        [image]="imageUrl" />

    <app-stats-section [proficiencies]="savingThrowProficiencies" [abilityScores]="abilityScores"
        [abilityModifiers]="abilityModifiers" [proficiencyBonus]="levelInfo?.prof_bonus" />

    @if(skillsReady){
    <app-skills-section [proficiencies]="skillProficiencies" [abilityModifiers]="abilityModifiers"
        [proficiencyBonus]="levelInfo?.prof_bonus" [skillData]="skillData" />
    }
</div>
<div class="footer-margin"></div>
<app-character-footer />


@if (modalType=='hp') {
<app-modal [type]="modalType" [currentHp]="currentHp" [maxHp]="hitPoints" (closed)="onCloseModal()"
    (hpUpdated)="currentHp = $event" [characterId]="characterId" />
}@else if (modalType=='img') {
<app-modal [type]="modalType" (closed)="onCloseModal()" [character]="character!" />
}