@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.zain-black {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.zain-light-italic {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.zain-regular-italic {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-family-pacifico: 'Pacifico', sans-serif;
    --font-family-zain: 'Zain', sans-serif;
}

.logo {
    background-image: url('/assets/rollquill-white.png');
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-color: #FAEABD !important;
    /*
    background-color: #f0ebd9 !important;
    background: url('/assets/bg.webp') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}


h2,
p,
.add-button {
    font-family: zain;
}

p,
.add-button {
    font-size: larger;
}

h2 {
    font-size: xx-large !important;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center,
.column-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-center {
    flex-direction: column;
}

@media screen and (max-width: 425px) {


    p,
    .add-button {
        font-size: medium;
    }

    .flex-space-between {
        //flex-direction: column;
        gap: 0.5rem;
    }

}